<footer>
    <div class="footert">
        <div class="footert-content">
            <p>2020 ©<a href="#">Tracker Network</a></p>
            <ul>
                <li><a href="">Advertise</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Developer API</a></li>
            </ul>
        </div>
    </div>
    <div class="footerb">
        <div class="footerb-content">
            <p>Warzone is a registered trademark of Activision. Trademarks are the property of their respective owners. Game materials copyright Activision. Activision has not endorsed and is not responsible for this site or its content.</p>
        </div>
    </div>
</footer>