$colorBody: #1E242B;
$colorHeader: #2D3640;
$cmain-menu: #475666;
$cmenu: #3B4754;
$cheader-title: #2D3640;
$cmessage: #365946;
$ctitle :#A4B2C3;
$ctitle-carts: #8F8351;
$cbody-carts: #EFEFEF;
// modal
$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
$highlight-color: #505050;
$base-duration: 0.25s;
// Colors
$primary: slategray;
$accent: tomato;
$white: whitesmoke;
$green: #2ecc71;
$red: #e74c3c;
// Breakpoints
$sm: 20rem;
$med: 48rem;
$lg: 64rem;