<header>
    <!-- <h2>Call Of Duty Warzone</h2>
    <div class="header-search">
        <div class="dropdown hover">
            <a class="a" href="#">Platform</a>
            <ul>
                <li><a href="#">PlayStation Network</a></li>
                <li><a href="#">Activision ID</a></li>
                <li><a href="#">Battle.net</a></li>
                <li><a href="#">Xbox Live</a></li>
            </ul>
        </div>
        <input class="name" type="text" name="hm" value="" placeholder="Enter Username">
    </div> -->
</header>
<!-- <div class="best-player">
    <p>Best Player <span>legendary117</span></p>
</div> -->
<!-- <div class="wrapper">
    <div class="best-rank">
        <div class="wrapper-best">
            <div class="wins">
                <div class="header-cart-score">
                    <div class="icon-perfil"></div>
                </div>
                <div class="content-cart-score">
                    <h2>Happy #8418964</h2>
                    <p><i class="fab fa-xbox"></i></p>
                    <p class="ptitle-score">Wins</p>
                    <p>2,755</p>
                </div>
                <div class="footer-cart-score">
                    <button class="btn-link-cart">view more</button>
                </div>
            </div>
            <div class="kills">
                <div class="header-cart-score">
                    <div class="icon-perfil"></div>
                </div>
                <div class="content-cart-score">
                    <h2>legendary117</h2>
                    <p><i class="fab fa-steam-square"></i></p>
                    <p class="ptitle-score">Kills</p>
                    <p>97,574</p>
                </div>
                <div class="footer-cart-score">
                    <button class="btn-link-cart">view more</button>
                </div>
            </div>
            <div class="score">
                <div class="header-cart-score">
                    <div class="icon-perfil"></div>
                </div>
                <div class="content-cart-score">
                    <h2>Outslid</h2>
                    <p><i class="fab fa-playstation"></i></p>
                    <p class="ptitle-score">Score/min</p>
                    <p>1,394.14</p>
                </div>
                <div class="footer-cart-score">
                    <button class="btn-link-cart">view more</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="about">
    <h2>About our Warzone Stats</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis vero consequatur, voluptates itaque quaerat eius reiciendis sequi numquam nulla ipsam quisquam minima. Ex ipsam animi perferendis sed ullam veniam.</p>
</div>
<div class="social">
    <div class="info-social">
        <p>Be More Social</p>
        <p>Join the Tracker community for the latest updates and hot topic discussions of your favorite games.</p>
    </div>
    <div class="btn-socials">
        <ul>
            <li><a href="https://m.facebook.com/sirtonygames/"><i class="fab fa-facebook-square"></i></a></li>
            <li>
                <a href="https://instagram.com/sirtonygames?igshid=4235uvwmptay"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="http://www.twitch.tv/sirtonygames?sr=a"><i class="fab fa-twitch"></i></a>
            </li>
            <li>
                <a href="https://vm.tiktok.com/ZMJcqBXoo/"><i class="fab fa-tiktok"></i></a>
            </li>
        </ul>
    </div>
</div>